<% include components/header.ejs %>
<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="four wide column">
                <div class="menu-list ui raised segment">
                    <a href="javascript:;" class="ui colorbba ribbon label">分类</a>
                    <div class="ui accordion fluid">
                    <% categories.forEach(function(category) {%>
                        <div class="list-item">
                        <% if(category.childsObject.length == 0) {%>
                        <a class="title" href="/categories/<%= category._id%>"><i class="custome-icon iconfont icon-<%= category.icon %>"></i><%= category.name %></a>
                        <% } else { %>
                        <a class="title" href="javascript:;"><i class="custome-icon iconfont icon-<%= category.icon %>"></i><%= category.name %></a>
                        <div class="content">
                            <div class="ui list">
                                <% category.childsObject.forEach(function(child){ %>
                                <a class="item" href="/categories/<%= category.name %>/<%= child._id %>">
                                    <div class="content">
                                        <div class="header"><i class="custome-icon iconfont icon-<%= child.icon %>"></i><%= child.name %></div>
                                        <div class="description"><%= child.description %></div>
                                    </div>
                                </a>
                                <% }) %>
                            </div>
                        </div>
                        <% } %>
                        </div>
                    <% }) %>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <div class="content-list">
                    <% articles.forEach(function(article) { %>
                    <div class="list-item left">
                        <div class="item-top clearfix">
                            <div class="item-left">
                                <a href="/about/<%= article.author._id %>">
                                    <div class="item-pic"
                                         style="background-image: url(/img/upload/<%= article.author.avatar %>)"></div>
                                    <span class="item-author" title="<%= article.author.name %>"><%= article.author.name %></span>
                                </a>
                            </div>
                            <div class="item-right">
                                <a href="/articles/detail/<%= article._id %>">
                                    <div class="header"><%= article.title %></div>
                                    <div class="simple-content"><%= article.description %></div>
                                </a>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="time"><%= article.created_at %> <a href="/categories/<%= article.category._id %>">
                                    <span class="category"><%= article.category.name %></span>
                                </a></div>
                            <div class="fn-tool">
                                <a href="" title="浏览"><i class="icon unhide"></i>(999)</a>
                                <a href="" title="评论"><i class="icon comment outline"></i>(999)</a>
                                <a href="" title="分享"><i class="icon external share"></i>(999)</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <div class="list-item right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include components/footer.ejs %>

