<% include components/header.ejs %>
<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="article">
                    <div class="article-header">
                        <h2><%= article.title %></h2>
                        <p class="time"><%= article.create_at %> <span class="category"><%= article.category.name %></span></p>
                        <p>转载地址:<a href="" id="share_url"></a>，请尊重作者的劳苦用心</p>
                    </div>
                    <div class="article-body">
                        <div class="content">
                            <%- article.content %>
                        </div>
                        <% if(article.author._id == user._id ){ %>
                        <div class="operates">
                            <a href="/articles/delete?id=<%= article._id %>"><i class="icon trash"></i></a>
                            <a href="/articles/edit/<%= article._id %>"><i class="icon write"></i></a>
                        </div>
                        <% } %>
                    </div>
                    <div class="article-footer">
                        <h4 class="ui dividing header">这是你唯一捐赠我的方式，捐赠让作者写出更好的东西或者评论吐槽</h4>
                        <div class="fluid row img-container">
                            <img class="ui medium rounded image" src="/img/wx.png">
                            <img class="ui medium rounded image" src="/img/alipy.png">
                        </div>
                        <div class="ui small message">
                            Ps：捐赠请备注(文章需要努力啊等等随您想法，让我知道您在关注我)，谢谢！
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="<%= article._id %>" data-title="<%= article.title %>" data-url=""></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name:"zzcl01"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#share_url').attr('href', location.href).text(location.href);
        $('.ds-thread').attr('data-url', location.href);
    })
</script>
<% include components/footer.ejs %>