<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="bg-cover"></div>
    <div class="main">
        <div class="wrap">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="my-container">
                        <div class="my-pic-name">
                            <div class="my-pic"></div>
                            <div class="my-name"></div>
                        </div>
                        <div class="my-info">
                            <form class="ui form" action="/my" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="<%= info._id %>">
                                <h4 class="ui dividing header">个人信息</h4>
                                <div class="field">
                                    <label>用户名</label>
                                    <input type="text" name="username" value="<%= info.name %>">
                                </div>
                                <div class="field">
                                    <label>用户图像</label>
                                    <div class="ui left action input">
                                        <div class="ui labeled icon button green">
                                            <input type="file" name="avatar" onchange="$('#show_name').val(this.value)">
                                            <i class="file image outline icon"></i>
                                            上传文件
                                        </div>
                                        <input type="text" id="show_name" placeholder="更换头像" value="">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>角色</label>
                                    <% if(user && (user.role.name == 'admin' || user.role.name == 'super')){ %>
                                    <select disabled class="ui dropdown" name="role">
                                        <% roles.forEach(function(role) { %>
                                        <option value="<%= role._id %>" <% if(info.role._id.toString() == role._id.toString()) { %> selected="selected" <% } %>><%= role.name %></option>
                                        <% }) %>
                                    </select>
                                    <% }else { %>
                                    <input type="text" name="role" value="<%= info.role.name %>">
                                    <% } %>
                                </div>
                                <div class="field">
                                    <label>作者简介</label>
                                    <textarea name="bio"><%= info.bio %></textarea>
                                </div>
                                <% if(user && (user._id == info._id)) { %>
                                <button class="ui fluid red tiny button">修改信息</button>
                                <% } %>
                                <a href="/articles" class="ui fluid green tiny button" style="margin-top: 10px;">返回列表</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="one wide column center-divider">
                    <div class="ui vertical divider">动态
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="my-article-list">
                        <div class="ui big animated list">
                            <% articles.forEach(function(article) { %>
                            <div class="item">
                                <div class="right floated compact time"><%= article.created_at %></div>
                                <img class="ui avatar image" src="/img/upload/<%= article.author.avatar %>">
                                <div class="content">
                                    <div class="header"><a href="/articles/detail/<%= article._id %>"><%= article.title %></a></div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/semantic/dist/semantic.min.js"></script>
    <script src="/js/common.fn.js"></script>
</body>
</html>